* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", system-ui;
  font-weight: 300;
  font-style: normal;
}

/* Banner section styling */
.banner {
  width: 100%;
  height: 80vh;
  background-image: url(./assets/bg.avif); /* Replace with your image URL */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fedc7b;
}
.banner-text {
  color: white;
  font-size: 58px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.banner-text > p {
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-style: oblique;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
  /* .navbar ul {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
  .mobile-menu.show {
    display: flex;
  } */
  .banner {
    background-size: cover;
  }
}

/* About and features section styling */
.section {
  padding: 50px 20px;
  text-align: center;
}
.section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}
.section p {
  font-size: 18px;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
.features {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.feature-box {
  /* background-color: #76cae2; */
  padding: 30px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  height: 220px;
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.feature-box:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-box-1 {
  background-image: url(./assets/exercise.jpg);
  background-size: cover;
  background-position: center;
}
.feature-box-2 {
  background-image: url(./assets/yoga.webp);
  background-size: cover;
  background-position: center;
}
.feature-box-3 {
  background-image: url(./assets/meditation.webp);
  background-size: cover;
  background-position: center;
}
.feature-box h3 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);

}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  .mobile-menu.show {
    display: flex;
  }
  .features {
    flex-direction: column;
  }
  .feature-box {
    width: 80%;
    margin-bottom: 20px;
  }
}

