* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", system-ui;
  font-weight: 300;
  font-style: normal;
}

.meditation-header {
  background-image: url("./assets/meditation-bg.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  position: relative;
  background-color: #f8f8f8;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);
  padding: 1rem 0;
}

.meditation-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 27, 236, 0.1);
}

@media (max-width: 768px) {
  .meditation-header {
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 85%);
  }
}

.meditation-content {
  position: relative;
  z-index: 1;
  margin: 20px 0;
}

.meditation-content h1 {
  font-size: 2.5rem;
  color: #004d40;
  margin-bottom: 10px;
}

.meditation-content p {
  font-size: 1.2rem;
  color: #f2f2f2;
  color: #004d40;
}

/* Animation */
.meditation-controls {
  text-align: center;
  margin-bottom: 20px;
}

#startBtn,
#stopBtn {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#startBtn {
  background-color: #6a89cc;
  color: white;
}

#stopBtn {
  background-color: #ee5a5a;
  color: white;
}

#stopBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Circle Animation Section */
.circle-animation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 50px;
  position: relative;
}

.ripple-wrapper {
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: -25px;
  left: -50px;
  background: linear-gradient(45deg, #6a89cc, #82ccdd, #60a3bc);
  background-size: 300% 300%;
  animation: ripple 3s infinite ease-in-out, colorShift 6s infinite linear;
  animation-play-state:paused; 
}

#circle1 {
  animation-delay: 0s;
}

#circle2 {
  animation-delay: 1s;
}

#circle3 {
  animation-delay: 2s;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Meditation Music Cards */
.music-cards-section {
  text-align: center;
  padding: 20px;
}

.music-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.music-card {
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.music-card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.music-card:hover img {
  transform: scale(1.1);
}

.music-card h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #333;
}
